
<div class="home-bottom-shelf-container p-5 eds-bg-color--gray-100 eds-l-pad-top-20">
    <section class="eds-layout eds-layout--has-large-max-width eds-layout-horizontal-gutters" data spec="eds-layout">
        <div class="eds-layout__body" data spec="eds-layout__body">
            <div class="Top-destinations-container">
                <div class="simple-carousel-wrapper">
                    <div class="simple-carousel__header">
                        <div class="simple-carousel__title-bucket">
                            <div class="simple-carousel__title eds-text-hs">
                                 <h2 class="eds-text-color--gray-900 eds-text-hs"> Top destinations in EGYPT</h2>
                            </div>
                        </div>
                     <div class="simple-carousel__navigation">
                             <button type="button" class="button-left" aria-disabled="true" aria-label="scroll carousel left">
                                <i class="fa-solid fa-angle-left" aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#3A3247" viewBox="0 0 24 24">
                                        <path d="M13.766 7 8.83 12l4.936 5 1.397-1.414L11.623 12l3.54-3.585z" clip-rule="evenodd"></path></svg>
                                </i>
                             </button>
                             <span style="padding-left: 8px;"></span>
                             <button type="button" class="IconButton_root__18146 IconButton_default__18146 IconButton_outline__18146 " id="button-right" aria-disabled="false" aria-label="Scroll carousel right">
                                <i class="Icon_root__1kdkz Icon_icon-large__1kdkz" aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#3A3247" viewBox="0 0 24 24">
                                        <path d="m10.224 17 4.936-5-4.936-5-1.397 1.414L12.367 12l-3.54 3.585z" clip-rule="evenodd"></path></svg></i>
                             </button>
                      </div>
                    </div>
                  <div class="simple-carousel-container">
                     <div class="simple-carousel">
                        <div class="simple-carousel__slide simple-carousel__slide__desktop--four simple-carousel__slide__tablet--three">
                            <div class="top-destination-card">
                                <a href="" aria-labelledby="Browse events for Cairo " color="neutral-100">
                                    <img class="top-destination-card__image" src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Wikimedia_2016_-34.jpg" loading="lazy" alt="An image of Cairo super imposed with the text &quot;Cairo&quot;">
                                    <div class="top-destination-card__overlay">
                                        <p class="text" style="--TypographyColor: #f8f7fa;">Cairo</p>
                                    </div>
                                    <div class="top-destination-card__gradiant"></div> 
                                    <div class="top-destination-card__orange-bar eds-bg-color--ui-orange"></div></a>
                                </div>
                           </div>
                          <div class="simple-carousel__slide simple-carousel__slide__desktop--four simple-carousel__slide__tablet--three">
                             <div class="top-destination-card">
                                 <a href="" aria-labelledby="Browse events for New Alamein " color="neutral-100">
                                    <img class="top-destination-card__image" src="https://selecthouse.co/wp-content/uploads/2023/04/New-Alamein-Towers-1.webp" loading="lazy" alt="An image of New Alamein super imposed with the text &quot;New Alamein&quot;">
                                    <div class="top-destination-card__overlay">
                                        <p class="text" style="--TypographyColor: #f8f7fa;">New Alamein</p>
                                    </div>
                                    <div class="top-destination-card_gradiant"></div>
                                    <div class="top-destination-card__orange-bar eds-bg-color--ui-orange"></div>
                                  </a>
                               </div>
                           </div>
                           <div class="simple-carousel__slide simple-carousel__slide__desktop--four simple-carousel__slide__tablet--three">
                            <div class="top-destination-card">
                                <a href="" aria-labelledby="Browse events for Sharm el-Sheikh " color="neutral-100">
                                   <img class="top-destination-card__image" src="https://hl-tourism.com/media/typecms/_-_-_-_-_.jpg" loading="lazy" alt="An image of Sharm el-Sheikh super imposed with the text &quot;Sharm el-Sheikh&quot;">
                                   <div class="top-destination-card__overlay">
                                       <p class="text" style="--TypographyColor: #f8f7fa;">Sharm el-Sheikh</p>
                                   </div>
                                   <div class="top-destination-card_gradiant"></div>
                                   <div class="top-destination-card__orange-bar eds-bg-color--ui-orange"></div>
                                 </a>
                              </div>
                          </div>
                           <div class="simple-carousel__slide simple-carousel__slide__desktop--four simple-carousel__slide__tablet--three">
                            <div class="top-destination-card">
                                <a href="" aria-labelledby="Browse events for Giza" color="neutral-100">
                                   <img class="top-destination-card__image" src="https://fmcdn.alqaheranews.net/9fabaee0-8c04-11ed-8119-add9f55e6833-file-1672818700486-633050218?&w=700&compress=80&gravity=face" loading="lazy" alt="An image of Giza super imposed with the text &quot;Giza&quot;">
                                   <div class="top-destination-card__overlay">
                                       <p class="text" style="--TypographyColor: #f8f7fa;">Giza</p>
                                   </div>
                                   <div class="card_gradiant"></div>
                                   <div class="card_bar"></div>
                                 </a>
                              </div>
                          </div>
                          <div class="simple-carousel__slide simple-carousel__slide__desktop--four simple-carousel__slide__tablet--three">
                             <div class="top-destination-card">
                                 <a href="" aria-labelledby="Browse events for Alexandria" color="neutral-100">
                                   <img class="top-destination-card__image" src="https://www.tar7al.com/wp-content/uploads/2022/10/alexandria-corniche--750x430.jpg" loading="lazy" alt="An image of Alexandria super imposed with the text &quot;Alexandria&quot;">
                                   <div class="top-destination-card__overlay">
                                       <p class="text" style="--TypographyColor: #f8f7fa;">Alexandria</p>
                                   </div>
                                   <div class="card_gradiant"></div>
                                   <div class="card_bar"></div>
                                 </a>
                              </div>
                          </div>
                          <div class="simple-carousel__slide simple-carousel__slide__desktop--four simple-carousel__slide__tablet--three">
                            <div class="top-destination-card">
                                <a href="" aria-labelledby="Browse events for The Luxor" color="neutral-100">
                                    <img class="top-destination-card__image" src="https://beta.sis.gov.eg/media/319891/%D8%A7%D9%84%D8%A3%D9%82%D8%B5%D8%B1-1.jpg" loading="lazy" alt="An image of Luxor super imposed with the text &quot;Luxor&quot;">
                                    <div class="top-destination-card__overlay">
                                        <p class="text" style="--TypographyColor: #f8f7fa;">Luxor </p></div><div class="top-destination-card__gradiant">  
                                        </div><div class="top-destination-card__orange-bar eds-bg-color--ui-orange"></div></a></div>
                         </div>     
                     </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
</div>