
.trends{
padding-block-start: 70px;
padding-block-end: 70px;
}
.trend-items .col-12{
position: relative;
padding: 30px 0;
font-weight: 500;

}
.trend-items .col-12::after{
    content: "";
    position: absolute;
    left:-10px;
    bottom: 0; 
    width: 70%;
    border-bottom: 2px solid #ccc; 
    transition: 0.3s;
}
.trend-items .col-12:hover::after{
    border-bottom: 2px solid #434242; 
}