<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="popular-cities">
        <h2>Popular cities</h2>
        <div class="scroll-container">
            <a href="#">Things to do in Cairo</a>
            <a href="#">Things to do in Alexandria</a>
            <a href="#">Things to do in Giza</a>
            <a href="#">Things to do in New Valley</a>
            <a href="#">Things to do in Aswan</a>
            <a href="#">Things to do in Luxor</a>
            <a href="#">Things to do in PortSaid </a>
            <a href="#">Things to do in North coast</a>
            <a href="#">Things to do in Fayoum</a>
        </div>
    </div>
</body>
</html>

