.popular-cities {
    margin: 20px;
    font-size: 200px;
    padding: 20px 10px;

}

.popular-cities h2 {
    font-size: 50px;
    margin-bottom: 10px;
    border-width: 50px;
    padding-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: darkblue;
    color: #1e0a3c;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.scroll-container::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}


.scroll-container::-webkit-scrollbar-thumb {
    /* background-color: #f4eded; */
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

.scroll-container a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #ece9e9;
    border-radius: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    color: #000;
    font-size: 25px;
    box-shadow: 0 2px 4px rgba(142, 140, 140, 0.1);
    transition: background-color 0.3s ease;
}

.scroll-container a:hover {
    background-color: #c8c1c1;
}